<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/CSS/main.css">
    <link rel="stylesheet" href="/CSS/admin.css">
    
</head>
<body>
    <nav>
        <div class="nav-items">
            <ul>
                <li><a href="/admin/add-product">add-product</a></li>
                <li><a href="/User/getproducts">products</a></li>
                <li><a href="/admin/contact-us">Contact Us</a></li>
            </ul>
        </div>
    </nav>

           <section class="form-section">
            <div class="form-container">
                    <form action="/admin/products" method="post">
                        <input type="text" placeholder="Enter Item name" name="item">
                        <br>
                        <input type="text" placeholder="Enter Quanity" name="size">
                        <br>
                        <button>Submit</button>
                    </form>
            </div>
           </section>
</body>
</html>