<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/CSS/main.css">
    
</head>
<body>
    <nav>
        <div class="nav-items">
            <ul>
                <li><a href="/admin/add-product">add-product</a></li>
                <li><a href="/User/getproducts">products</a></li>
                <li><a href="/admin/contact-us">Contact Us</a></li>
            </ul>
        </div>
    </nav>
    <main>
        <div class="main-section">
            <h1>This is my home page</h1>
        </div>
    </main>
</body>
</html>